automations/alerta-avaliacao-ruim.json
{
  "name": "WF2 - Alerta de avaliação ruim (Sabor & Cia)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avaliacao-ruim",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c1c1c1c1-0001-4000-8000-000000000001",
      "name": "Webhook (Supabase INSERT avaliacoes)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "webhookId": "avaliacao-ruim"
    },
    {
      "parameters": {
        "jsCode": "// Autentica o chamador e filtra: só segue avaliação com nota <= 2.\n// O Database Webhook do Supabase envia { type: 'INSERT', record: {...} }\n// e o header x-webhook-secret configurado lá.\nconst headers = $json.headers || {};\nif (headers['x-webhook-secret'] !== $env.SUPABASE_WEBHOOK_SECRET) {\n  return []; // secret errado — descarta silenciosamente\n}\n\nconst body = $json.body || {};\nconst record = body.record || {};\nif (body.type !== 'INSERT' || !record.nota || record.nota > 2) {\n  return [];\n}\n\nreturn [{ json: { avaliacao_id: record.id, pedido_id: record.pedido_id, nota: record.nota, comentario: record.comentario || '(sem comentário)' } }];"
      },
      "id": "c1c1c1c1-0002-4000-8000-000000000002",
      "name": "Valida secret e nota",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  p.id as pedido_id,\n  p.unidade_id,\n  p.valor,\n  p.plataforma::text as plataforma,\n  u.nome as unidade_nome\nfrom pedidos p\njoin unidades u on u.id = p.unidade_id\nwhere p.id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.pedido_id] }}"
        }
      },
      "id": "c1c1c1c1-0003-4000-8000-000000000003",
      "name": "Enriquece com pedido e unidade",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [80, 0],
      "credentials": {
        "postgres": {
          "name": "Supabase Sabor & Cia (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into alertas (unidade_id, tipo, mensagem, payload)\nvalues ($1, 'avaliacao', $2, $3::jsonb)\nreturning id;",
        "options": {
          "queryReplacement": "={{ [$json.unidade_id, 'Avaliação nota ' + $('Valida secret e nota').first().json.nota + ' na unidade ' + $json.unidade_nome + ' (pedido de R$ ' + $json.valor + ' via ' + $json.plataforma + '): \"' + $('Valida secret e nota').first().json.comentario + '\"', JSON.stringify({ nota: $('Valida secret e nota').first().json.nota, comentario: $('Valida secret e nota').first().json.comentario, pedido_id: $json.pedido_id, plataforma: $json.plataforma, valor: $json.valor })] }}"
        }
      },
      "id": "c1c1c1c1-0004-4000-8000-000000000004",
      "name": "Registra em alertas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [320, 0],
      "credentials": {
        "postgres": {
          "name": "Supabase Sabor & Cia (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alertas@saborecia.com.br",
        "toEmail": "={{ $env.EMAIL_GESTOR }}",
        "subject": "=[Sabor & Cia] Avaliação nota {{ $('Valida secret e nota').first().json.nota }} — {{ $json.unidade_nome }}",
        "text": "=Avaliação crítica recebida agora na unidade {{ $json.unidade_nome }}.\n\nNota: {{ $('Valida secret e nota').first().json.nota }}\nComentário: {{ $('Valida secret e nota').first().json.comentario }}\nPedido: R$ {{ $json.valor }} via {{ $json.plataforma }}\n\nO alerta também está no painel (sino do gerente).",
        "options": {}
      },
      "id": "c1c1c1c1-0005-4000-8000-000000000005",
      "name": "E-mail ao gerente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [560, 0],
      "credentials": {
        "smtp": {
          "name": "SMTP Sabor & Cia"
        }
      }
    }
  ],
  "connections": {
    "Webhook (Supabase INSERT avaliacoes)": {
      "main": [[{ "node": "Valida secret e nota", "type": "main", "index": 0 }]]
    },
    "Valida secret e nota": {
      "main": [[{ "node": "Enriquece com pedido e unidade", "type": "main", "index": 0 }]]
    },
    "Enriquece com pedido e unidade": {
      "main": [[{ "node": "Registra em alertas", "type": "main", "index": 0 }]]
    },
    "Registra em alertas": {
      "main": [[{ "node": "E-mail ao gerente", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  }
}
