automations/alerta-meta-diaria.json
{
  "name": "WF1 - Alerta de meta diária (Sabor & Cia)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "d1d1d1d1-0001-4000-8000-000000000001",
      "name": "Todo dia às 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://iaplicada-sabor-cia.vercel.app/api/alertas/metas-em-risco",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d1d1d1d1-0002-4000-8000-000000000002",
      "name": "Consulta unidades em risco",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-380, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "metas-alert-secret",
          "name": "Metas Alert Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// GET devolve { unidades: [...] } — vira 1 item por unidade em\n// risco pros próximos nodes processarem individualmente. Lista\n// vazia (ninguém em risco hoje) ⇒ zero itens ⇒ cadeia para aqui,\n// nenhum e-mail sai.\nreturn ($input.first().json.unidades || []).map((u) => ({ json: u }));"
      },
      "id": "d1d1d1d1-0003-4000-8000-000000000003",
      "name": "Explode unidades em risco",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "jsCode": "// Texto fixo a partir dos KPIs — sem chamada de IA. Mensagem\n// direta pro gestor entender a situação de cada unidade em risco.\nconst kpis = $json;\nconst mensagem = `Unidade ${kpis.unidade_nome} está em ${kpis.pct_meta}% da meta mensal (R$ ${kpis.receita_acumulada} de R$ ${kpis.meta_receita}), com ${kpis.dias_restantes} dia(s) restante(s) no mês.`;\nreturn { json: { ...kpis, mensagem } };"
      },
      "id": "d1d1d1d1-0005-4000-8000-000000000005",
      "name": "Prepara alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iaplicada-sabor-cia.vercel.app/api/alertas/metas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ unidade_id: $json.unidade_id, mensagem: $json.mensagem, payload: { meta_receita: $json.meta_receita, receita_acumulada: $json.receita_acumulada, pct_meta: $json.pct_meta, dias_restantes: $json.dias_restantes } }) }}",
        "options": {}
      },
      "id": "d1d1d1d1-0006-4000-8000-000000000006",
      "name": "Registra alerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "metas-alert-secret",
          "name": "Metas Alert Secret"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.ja_registrado }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1d1d1d1-0007-4000-8000-000000000007",
      "name": "Alerta é novo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "fromEmail": "alertas@saborecia.com.br",
        "toEmail": "alertas-teste@saborecia.com.br",
        "subject": "=[Sabor & Cia] Meta em risco — {{ $('Prepara alerta').item.json.unidade_nome }}",
        "text": "={{ $('Prepara alerta').item.json.mensagem }}\n\nReceita acumulada: R$ {{ $('Prepara alerta').item.json.receita_acumulada }}\nMeta do mês: R$ {{ $('Prepara alerta').item.json.meta_receita }} ({{ $('Prepara alerta').item.json.pct_meta }}%)\nDias restantes: {{ $('Prepara alerta').item.json.dias_restantes }}",
        "options": {}
      },
      "id": "d1d1d1d1-0008-4000-8000-000000000008",
      "name": "E-mail fictício ao gestor",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 0],
      "credentials": {
        "smtp": {
          "name": "SMTP Sabor & Cia"
        }
      }
    }
  ],
  "connections": {
    "Todo dia às 08:00": {
      "main": [[{ "node": "Consulta unidades em risco", "type": "main", "index": 0 }]]
    },
    "Consulta unidades em risco": {
      "main": [[{ "node": "Explode unidades em risco", "type": "main", "index": 0 }]]
    },
    "Explode unidades em risco": {
      "main": [[{ "node": "Prepara alerta", "type": "main", "index": 0 }]]
    },
    "Prepara alerta": {
      "main": [[{ "node": "Registra alerta", "type": "main", "index": 0 }]]
    },
    "Registra alerta": {
      "main": [[{ "node": "Alerta é novo?", "type": "main", "index": 0 }]]
    },
    "Alerta é novo?": {
      "main": [[{ "node": "E-mail fictício ao gestor", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  }
}
