automations/alerta-meta-diaria.json
{
  "name": "WF1 - Alerta de meta diária (Sabor & Cia)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "b1b1b1b1-0001-4000-8000-000000000001",
      "name": "Todo dia às 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  v.unidade_id,\n  v.unidade_nome,\n  v.meta_receita,\n  v.receita_acumulada,\n  round(v.pct_meta * 100, 1) as pct_meta,\n  v.dias_restantes\nfrom v_alerta_metas v\nwhere v.pct_meta < 0.6\n  and v.dias_restantes <= 10\n  and not exists (\n    select 1 from alertas a\n    where a.unidade_id = v.unidade_id\n      and a.tipo = 'meta'\n      and a.criado_em >= date_trunc('month', now() at time zone 'America/Sao_Paulo')\n  );",
        "options": {}
      },
      "id": "b1b1b1b1-0002-4000-8000-000000000002",
      "name": "Unidades em risco (com dedupe)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-160, 0],
      "credentials": {
        "postgres": {
          "name": "Supabase Sabor & Cia (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 350, messages: [{ role: 'user', content: 'Você é analista de operações de uma rede de dark kitchens. A unidade \"' + $json.unidade_nome + '\" está com receita acumulada de R$ ' + $json.receita_acumulada + ' contra meta mensal de R$ ' + $json.meta_receita + ' (' + $json.pct_meta + '% da meta), faltando ' + $json.dias_restantes + ' dias para o fim do mês. Escreva um diagnóstico de no máximo 4 linhas em português: 1 frase de situação, 1 hipótese provável de causa e 1 ação prática recomendada para os próximos dias. Tom direto, sem saudação, sem markdown.' }] }) }}",
        "options": {}
      },
      "id": "b1b1b1b1-0003-4000-8000-000000000003",
      "name": "Diagnóstico via Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 0]
    },
    {
      "parameters": {
        "jsCode": "// Junta o diagnóstico do Claude com os KPIs da unidade\nconst risco = $(\"Unidades em risco (com dedupe)\").all();\nconst respostas = $input.all();\n\nreturn respostas.map((r, i) => {\n  const kpis = risco[i].json;\n  const diagnostico = (r.json.content?.[0]?.text || '').trim()\n    || `Unidade ${kpis.unidade_nome} em ${kpis.pct_meta}% da meta com ${kpis.dias_restantes} dias restantes.`;\n  return { json: { ...kpis, diagnostico } };\n});"
      },
      "id": "b1b1b1b1-0004-4000-8000-000000000004",
      "name": "Prepara alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into alertas (unidade_id, tipo, mensagem, payload)\nvalues ($1, 'meta', $2, $3::jsonb)\nreturning id;",
        "options": {
          "queryReplacement": "={{ [$json.unidade_id, $json.diagnostico, JSON.stringify({ meta_receita: $json.meta_receita, receita_acumulada: $json.receita_acumulada, pct_meta: $json.pct_meta, dias_restantes: $json.dias_restantes })] }}"
        }
      },
      "id": "b1b1b1b1-0005-4000-8000-000000000005",
      "name": "Registra em alertas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [560, 0],
      "credentials": {
        "postgres": {
          "name": "Supabase Sabor & Cia (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alertas@saborecia.com.br",
        "toEmail": "={{ $env.EMAIL_GESTOR }}",
        "subject": "=[Sabor & Cia] Meta em risco — {{ $json.unidade_nome }}",
        "text": "={{ $json.diagnostico }}\n\nReceita acumulada: R$ {{ $json.receita_acumulada }}\nMeta do mês: R$ {{ $json.meta_receita }} ({{ $json.pct_meta }}%)\nDias restantes: {{ $json.dias_restantes }}",
        "options": {}
      },
      "id": "b1b1b1b1-0006-4000-8000-000000000006",
      "name": "E-mail ao gestor",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [800, 0],
      "credentials": {
        "smtp": {
          "name": "SMTP Sabor & Cia"
        }
      }
    }
  ],
  "connections": {
    "Todo dia às 08:00": {
      "main": [[{ "node": "Unidades em risco (com dedupe)", "type": "main", "index": 0 }]]
    },
    "Unidades em risco (com dedupe)": {
      "main": [[{ "node": "Diagnóstico via Claude", "type": "main", "index": 0 }]]
    },
    "Diagnóstico via Claude": {
      "main": [[{ "node": "Prepara alerta", "type": "main", "index": 0 }]]
    },
    "Prepara alerta": {
      "main": [[{ "node": "Registra em alertas", "type": "main", "index": 0 }]]
    },
    "Registra em alertas": {
      "main": [[{ "node": "E-mail ao gestor", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  }
}
