automations/simulador-pedidos.json
{
  "name": "WF3 - Simulador de pedidos (Sabor & Cia)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "a1a1a1a1-0001-4000-8000-000000000001",
      "name": "A cada 2 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "jsCode": "// Simula chegada irregular de pedidos: n8n não tem um\n// \"intervalo aleatório\" nativo sem um loop de Wait, então a\n// aleatoriedade fica aqui — só ~40% das execuções do cron\n// realmente vira um pedido nas plataformas.\nconst CHANCE_DE_DISPARAR = 0.4;\nif (Math.random() > CHANCE_DE_DISPARAR) {\n  return [];\n}\n\nconst UNIDADES_ATIVAS = [1, 2, 3, 4]; // Centro, Pinheiros, Moema, Santana\nconst PLATAFORMAS = [\"ifood\", \"rappi\", \"proprio\"];\n\nconst unidade_id = UNIDADES_ATIVAS[Math.floor(Math.random() * UNIDADES_ATIVAS.length)];\nconst plataforma = PLATAFORMAS[Math.floor(Math.random() * PLATAFORMAS.length)];\n\nreturn [{ json: { unidade_id, plataforma } }];"
      },
      "id": "a1a1a1a1-0002-4000-8000-000000000002",
      "name": "Sorteia disparo e unidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/rpc_cardapio_disponivel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"p_unidade\": $json.unidade_id } }}",
        "options": {}
      },
      "id": "a1a1a1a1-0003-4000-8000-000000000003",
      "name": "Busca cardápio disponível",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 0]
    },
    {
      "parameters": {
        "jsCode": "// Este node recebe 1 item por produto disponível na unidade\n// (RPC pública rpc_cardapio_disponivel, respeitando o toggle de\n// pausa do Cardápio). Monta um pedido com 1 a 4 itens distintos\n// e quantidades aleatórias.\nconst cardapio = $input.all().map((i) => i.json);\nif (cardapio.length === 0) {\n  return []; // nada disponível nessa unidade agora — não gera pedido\n}\n\nconst { unidade_id, plataforma } = $(\"Sorteia disparo e unidade\").first().json;\n\nconst embaralhado = [...cardapio].sort(() => Math.random() - 0.5);\nconst quantidadeItens = 1 + Math.floor(Math.random() * Math.min(4, embaralhado.length));\nconst itens = embaralhado.slice(0, quantidadeItens).map((p) => ({\n  produto_id: p.produto_id,\n  quantidade: 1 + Math.floor(Math.random() * 3),\n}));\n\nreturn [{ json: { unidade_id, plataforma, itens } }];"
      },
      "id": "a1a1a1a1-0004-4000-8000-000000000004",
      "name": "Monta itens do pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/pedidos/simular",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-webhook-secret", "value": "={{ $env.ORDER_SIMULATOR_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1a1a1a1-0005-4000-8000-000000000005",
      "name": "Envia pedido simulado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 0]
    }
  ],
  "connections": {
    "A cada 2 minutos": {
      "main": [[{ "node": "Sorteia disparo e unidade", "type": "main", "index": 0 }]]
    },
    "Sorteia disparo e unidade": {
      "main": [[{ "node": "Busca cardápio disponível", "type": "main", "index": 0 }]]
    },
    "Busca cardápio disponível": {
      "main": [[{ "node": "Monta itens do pedido", "type": "main", "index": 0 }]]
    },
    "Monta itens do pedido": {
      "main": [[{ "node": "Envia pedido simulado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
